html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: CairoBold;
  src: url(/fonts/Cairo-Bold.ttf);
}

@font-face {
  font-family: CairoRegular;
  src: url(/fonts/Cairo-Regular.ttf);
}

@font-face {
  font-family: CairoLight;
  src: url(/fonts/Cairo-Light.ttf);
}